body{
    background-color: rgb(166, 205, 241);
    user-select: none; /*impedir seleção de texto na pagina*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
p{
    margin-top: 4px;
    margin-bottom: 4px;
}
.titulo{
    width: 20%;
    height: 4%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.5em + 1vw, 1.4em);
    padding: 0px;
    color: #ffffff;
    background-color: #0c136d;
    position: absolute;
    top: 0%;
    left: 0%;
}
.corpo{
    width: 80%;
    height: 4%;
    display: flex;
    position: absolute;
    top: 0%;
    left: 20%;
    background-color: #8a8b8d;
}
.botao{
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background-color: #0c136d;
    margin: 4px;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif ;
}
.botao:hover{
    background-color: #ffffff;
    color: #0c136d;
}
.painel{
    min-width: 500px;
    min-height: 40%;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}
.tituloCount{
        position: absolute;
        font-size: 18px;
        font-family: sans-serif;
        margin: 10px 0px 0px 30px;
}
.painel, .painelResult{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.result{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.absoluto{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.divResul, .divValue, .divPorcent{
    height: 60%;
    display: inline-table;
}
.divResul{
    width: 40%;
}
.divValue{
    text-align: center;
    width: 36%;
}
.divPorcent{
    text-align: center;
    width: 16%;
}
.divValue{
    text-align: justify;
}
.resulReti{
    margin: auto;
    width:80%;
    justify-content: center;
}
.caixaCelulas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 90%;
    min-height: 80%;
}
.disclaimer{
    width: 60%;
    height: 70%;
    padding: 10px;
    text-align: justify;
    font-family: sans-serif;
    color: #5a5a5a;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.fechar{
    width: 30px;
    height: 30px;
    font-size: 24px;
    text-align: center;
    
    margin: 4px;
    color: #ffffff;
    background-color: #0c136d;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}
.fechar:hover{
    background-color: #ffffff;
    color: #0c136d;
}
.valoresPainel{ /*Elementos de resultado*/
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.valorPainel{ /*Valores de resultado*/
    height: 80%;
    width: 20%;
    font-size: 2.0em;
    text-align: center;
    background-color: white;
    margin: auto;
}
.botaoPainel{ /* div que esta o botao de resultado e zerar*/
    width: 40%;
    margin: auto;
}
.celulas{
    width: 80px;
    height: 70px;
    border-radius: 80%;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
.valorCelula{
    background-color: red; 
    width:20px; 
    height:20px; 
    border-radius:40%; 
    color:white;
}
.caixaContadorEAS{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 90%;
    min-height: 80%;
}
.nomeLeuco{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.teclaCelula{
    background-color: blue; 
    width:20px; 
    height:20px; 
    border-radius:40%; 
    color:white;
    margin-left: 80%;
}
/*Classes e Ids dos paineis de resultados*/
.painelResult{
    width: 40%;
    min-height: 60%;
    background-color: #ffffff;
    padding-left: 2%;
}
#valor_absoluto{
    width: 100px;
}
#valor_hct, #valor_eri, #abs{
    width: 60px;
}
.gitIcon{
    width: 60px;
    height: 80px;
    bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/*Layouts responsivos*/
@media (min-width: 800px) {
    .painel{
        max-width: 512px;
    }
}
/*Layout para celulares*/
@media (max-width: 600px){
    input, select, textarea{
        font-size: 16px;
    }
    .titulo{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.2em, 0.5em + 1vw, 1.4em);
    padding: 0px;
    color: #ffffff;
    background-color: #0c136d;
    position: absolute;
    top: 0%;
    left: 0%;
    }
    .corpo{
    height: 4%;
    display: flex;
    position: absolute;
    top: 0%;
    left: 20%;
    background-color: #8a8b8d;
    }
    .botao{
    font-size: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #0c136d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif ;
    }
    .teclaCelula{
    display: none;
    }
    .painel{
    min-width: 90%;
    min-height: 80%;
    }
    .caixaCelulas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 90%;
    min-height: 80%;
    }
    .tituloCount{
    position: absolute;
    font-size: 18px;
    font-family: sans-serif;
    top: 4px;
    left: 2px;
    }
    .painel, .painelResult{
    position: absolute;
    min-width: 90%;
    min-height: 80%;
    transform: translate(-50%,-50%);
    }
    .celulas{
    width: min(45vw, 90px);
    height: 80px;
    border-radius: 80%;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }
    .disclaimer{
    min-width: 90%;
    min-height: 90%;
    font-size: 12px;
    padding: 6px;
    text-align: justify;
    font-family: sans-serif;
    color: #353434;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%,-50%);
    }
}