body{
    background-color: cadetblue;
}

.botao:hover{
    background-color: #ffffff;
    color: #0c136d;
}
.painel{
    width: 60%;
    height: 80%;
    border: 1px solid #000000;
    background-color: #ffffff;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}
.campo{
    width: 70%;
    height: 80%;
    margin: 4% auto;
}
.valoresPainel{
    width: 100%;
    height: 10%;
    padding: 2px 30% 2px 30%;
    display: flex;
    flex-wrap: wrap;
}
.valorPainel{ /*Filho de valoresPainel*/
    height: 60px;
    width: 60px;
    font-size: 1.6em;
    text-align: center;
    background-color: white;
    margin: 4px 10px auto;
}
.celulas{
    width: 80px;
    height: 70px;
    border-radius: 80%;
    background-color: purple;
    text-align: center;
    padding-top: 10px;
    margin: 4px auto;
}
